<section class="main bg-dark-2 bg-glow">
  <div class="pane">
    <div class="aligner txt-c hero">
      <div class="container">
        <div class="ribbon ribbon-primary center-block">Yo, man.</div>
        <h2 class="mtl type-neutral-11">A custom Yeoman build for Labs Designers.</h2>
        <a class="btn btn-default mtm" target="_blank" aria-label="Get it on Github" href="https://github.com/mattrothenberg/labs-design-yeoman">
          <i class="fa fa-github"></i>
          Github
        </a>
      </div >
    </div>
  </div>
</section>
